@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Playball);
:root {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

html, body {
	width: 100vw;
	height: 90vh;
}

body {
	margin: 0;
	padding: 0;
	padding-top: 70px;
	background-color: #424242;
}

.logo {
	font-family: 'Playball', cursive;
	font-size: 3rem !important;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #2196F3;
	text-align: center;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.header ul li {
	color: #EEEEEE;
	width: 500px;
	padding: 10px;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	font-size: 1.4rem;
	transition: .2s background-color;
}
