@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Playball);
:root {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

html, body {
	height: calc(100vh - 70px);
	margin: 0;
	padding: 0;
}

body {
	padding-top: 70px;
	background-color: #424242;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #2196F3;
	text-align: center;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.header ul li {
	width: 500px;
	padding: 10px;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	line-height: 50px;
	font-size: 1.4rem;
	transition: .2s background-color;
}

.header ul li:hover {
	background-color: #0c7cd5;
}

.header ul li a {
	padding: 10px;
	font-family: 'Oswald', cursive;
	color: #EEEEEE;
	text-decoration: none;
}

.header ul .active {
	background-color: #0c7cd5;
}

.logo {
	font-family: 'Playball', cursive !important;
	font-size: 3rem !important;
}

.slideshow img {
	width: 100%;
}

.container {
	width: 70%;
	margin: 10px auto;
}

.box {
	width: 100%;
	padding: 10px;
	background-color: #EEEEEE;
	border-radius: 5px;
}

.feature {
	display: inline-block;
	width: calc((100% / 3) - 20px);
	text-align: center;
}

.feature--first, .feature--second {
	border-right: 2px solid #37474F;
}
