@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600)
@import url(https://fonts.googleapis.com/css?family=Oswald:300)
@import url(https://fonts.googleapis.com/css?family=Playball)

$blue: #2196F3

:root
    font-size: 16px
    font-family: 'Open Sans', sans-serif
    font-weight: 300

html, body
    height: calc(100vh - 70px)
    margin: 0
    padding: 0

body
    padding-top: 70px
    background-color: #424242

//a
    width: auto
    height: auto
    padding: 0
    margin: 0
    color: inherit
    text-decoration: none

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    margin: 0
    padding: 0
    background-color: $blue
    text-align: center

    ul
        list-style-type: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: row
        align-items: center

        li
            width: 500px
            padding: 10px
            justify-content: space-around
            line-height: 50px
            font-size: 1.4rem

            &:hover
                background-color: darken($blue, 10%)

            a
                padding: 10px
                font-family: 'Oswald', cursive
                color: #EEEEEE
                text-decoration: none
                transition: .2s background-color

.logo
    font-family: 'Playball', cursive !important
    font-size: 3rem !important

.slideshow img
    width: 100%

.container
    width: 70%
    margin: 10px auto

.box
    width: 100%
    padding: 10px
    background-color: slateblue
    border-radius: 5px

