@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600)

$blue: #2196F3

:root
    font-size: 16px
    font-family: 'Open Sans', sans-serif

html, body
    width: 100vw
    height: 90vh

body
    margin: 0
    padding: 0
    padding-top: 70px
    background-color: #424242

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    margin: 0
    padding: 0
    background-color: $blue
    text-align: center

    ul
        list-style-type: none
        margin: 0
        padding: 0
        display: flex
        flex-direction: row

        li
            color: #EEEEEE
            width: 500px
            padding: 10px
            justify-content: space-around
            transition: .2s background-color

            &:hover
                background-color: darken($blue, 10%)

.logo
    background: url(https://images.fam-ericsson.se/fam-ericsson.svg) center fixed no-repeat
